# Git
.git
.github

# IDEs
.idea
.vscode

# Flutter
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Builds (se generan dentro del Dockerfile)
build

# Archivos temporales
*.log

# Secretos
backend/.env
.env
